<a href="https://colab.research.google.com/github/ecfernandes/UTFPR_Thesis/blob/main/sagemakertest_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Apesar do nome deste algoritmo , o mesmo foi criado para análises de Classificação.

pandas = biblioteca para manipulação e análise de dados https://pandas.pydata.org/

Os arquivos deverão ser utilizados em extensão .csv, neste exemplo o arquivo é processado pelo link de um arquivo csv localizado no github

pd.read_csv = comando para leitura de arquivos em csv

nome.head() = visualização das primeiras 5 linhas do dataframe , caso for acrescentado um número dentro dos parênteses é possível reduzir ou aumentar a quantidade de linhas a serem mostradas.

In [ ]:
#import pandas as pd
#link='https://raw.githubusercontent.com/ecfernandes/machinelearning/master/3_logisticregression.csv'
#log=pd.read_csv(link)
#log.head(2)

,ID,Titulo,Documentary,Sci-Fi,Mystery,Horror,Romance,Thriller,Crime,Fantasy,Comedy,Animation,Children,Drama,Adventure,Duracao,Investimento,Gostou
0,1,Nixon (1995),0,0,0,0,0,0,0,0,0,0,0,1,0,114.496547,7.930748,1
1,2,Leaving Las Vegas (1995),0,0,0,0,1,0,0,0,0,0,0,1,0,110.140191,18.276555,1

In [ ]:
! pip install --upgrade pip
! pip install PyAthena

In [ ]:
from pyathena import connect
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
conn = connect(s3_staging_dir='s3://sagemaker-ederson/',region_name='us-east-1')

In [ ]:
log = pd.read_sql("SELECT * FROM vsm-database.vsm_sagemaker_ederson limit 10", conn)
log

In [ ]:
###SELECT * FROM "vsm-database"."vsm_sagemaker_ederson" limit 10;

Separação das colunas para análise e previsão . As primeiras 15 colunas  serão para análise e a última coluna para previsão.

In [ ]:
x=log[log.columns[2:17]]
y=log[log.columns[17:]]

algoritmo Counter importado da biblioteca python Collections é utilizado para contar diferentes resultados em uma coluna. Neste caso contou que na coluna "Gostou" possui 135 resultados "0" e 543 resultados"1" , ou seja 135 resultados  " nao gostou" e 543 resultados "gostou"  . https://docs.python.org/3/library/collections.html

In [ ]:
from collections import Counter

Counter(log['Gostou'])

Counter({0: 135, 1: 543})

.shape  = chamada do método shape para análise da dimensionalidade do dataframe . https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html

In [ ]:
log.shape

(678, 18)

numpy = biblioteca para cálculos em arrays multidimensionais http://www.numpy.org/

train_test_split = algoritmo que permite separar cada grupo de dados em 2 partes, uma para treinamento e outra para teste ( lembrando que as variáveis x e y foram criadas anteriormente no intuito de dividir os dados entre "colunas de características e 1 coluna de resultado para previsão"). Sendo assim, esta algoritmo permite que separe cerca de 70 a 80% das linhas dos dados para treinamento e 20 a 30% das linhas dos dados para testar a acurácia de previsão de resultados com bases nas características apresentadas. Esta divisão é essencial , pois é necessário testar o algoritmo com dados que o algoritmo não teve acesso, ou seja, não treinou. https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

SEED 
np.random.seed(SEED)  = impede a aleatoridade da análise dos dados em treinamento e teste . Pode ser utilizado qualquer número para o Seed, mas caso mude o número , os dados serão analisados em uma ordem diferente. 
https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.seed.html

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np
SEED=404
np.random.seed(SEED)

treinox,testex,treinoy,testey=train_test_split(x,y,train_size=0.7)



print('Treinamos com %d e testamos com %d' % ((len(treinox),len(testex))))

Treinamos com 474 e testamos com 204

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

np.array(treino) = conversão dos dados que se encontraram em "dataframe" (pandas.core.series.Series) para " array" (numpy.ndarray). Uma maneira de saber o tipo de classificação de cada dados será utilizar o comando
type() , colocando entre parênteses o nome do grupo de dados ( e.g. x ,y, treinox, testey , etc)

len() = contar e mostrar quantidade de linhas de dados

reshape(len(),quantidade_de_colunas) = reorganiza os dados na quantidade de colunas que desejar

In [ ]:


treinox=np.array(treinox).reshape(len(treinox),15)
testex=np.array(testex).reshape(len(testex),15)

values.ravel = conversao dos dados para array, masse utilizado apenas para uma coluna de dados ficará mais fácil de visualizá-los .
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.ravel.html

In [ ]:
treinoy.values.ravel()
testey.values.ravel()

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1])

Logistic Regression = algoritmo de treinamento em análises de classificações https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

MultinomialNB = algoritmo de treinamento em análises de classificações  https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html

AdaBoostClassifer = algoritmo de treinamento em análises de classificações https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostClassifier.html

RandomForestClassifier = algoritmo de treinamento em análises de classificações https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

modelo.fit(treinox,treinoy) = comando .fit estabelece quais grupos de dados o algoritmo irá treinar

In [ ]:
modelo1=LogisticRegression()
modelo1.fit(treinox,treinoy)

modelo2=MultinomialNB()
modelo2.fit(treinox,treinoy)

modelo3=AdaBoostClassifier()
modelo3.fit(treinox,treinoy)

modelo4=RandomForestClassifier()
modelo4.fit(treinox,treinoy)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

modelo.predict = método para prever qual (quais) o dado(s) correspondente(s) da coluna y em relação a um valor x . Quanto mais dados (característiicas ) forem utilizadas para o treino, maior será a acurácia da resposta prevista pelo método. Atenção que ao digitar o valor dentro dos parênteses deverá ser utilizado duplo colchetes devido a estrutura do array criada anteriormente.

In [ ]:
previsao1=modelo1.predict(testex)
previsao2=modelo2.predict(testex)
previsao3=modelo3.predict(testex)
previsao4=modelo4.predict(testex)

Accuracy_score = algorimo para análise da taxa de acerto da previsão efetuada em relação ao valores corretos https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html

In [ ]:
from sklearn.metrics import accuracy_score
ac1=accuracy_score(testey,previsao1)*100
ac2=accuracy_score(testey,previsao2)*100
ac3=accuracy_score(testey,previsao3)*100
ac4=accuracy_score(testey,previsao4)*100

In [ ]:
print("As acuracias  são = LogisticRegresion : %.2f , MultinomialNB: %.2f , AdaBoostClassifier: %.2f , RandomForestClassifier: %.2f"  % (ac1,ac2,ac3,ac4))

As acuracias  são = LogisticRegresion : 77.45 , MultinomialNB: 78.43 , AdaBoostClassifier: 73.53 , RandomForestClassifier: 71.57